<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786045337908-k3m7lp7gli17d1ta5v6l1lfbb09ohtc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786045337908-k3m7lp7gli17d1ta5v6l1lfbb09ohtc0</string>
	<key>API_KEY</key>
	<string>AIzaSyAdRjjouBpqkOZR5k62fV-hAZ_f-Dvc_l8</string>
	<key>GCM_SENDER_ID</key>
	<string>786045337908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohmedelfakharany.buyit</string>
	<key>PROJECT_ID</key>
	<string>fi5o-buyit</string>
	<key>STORAGE_BUCKET</key>
	<string>fi5o-buyit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786045337908:ios:b00f67307f0b1e6b586561</string>
</dict>
</plist>